<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




    <bean id="authorService"
          class="com.epam.lab.news.manager.service.impl.CustomAuthorService">
        <property name="repository" ref="authorRepository"/>
    </bean>

    <bean id="commentService"
          class="com.epam.lab.news.manager.service.impl.CustomCommentService">
        <property name="oracleCommentRepository" ref="commentRepository"/>
    </bean>

    <bean id="fullNewsService"
          class="com.epam.lab.news.manager.service.impl.CustomFullNewsService">
        <property name="newsBaseRepository" ref="newsRepository"/>
        <property name="tagBaseRepository" ref="tagRepository"/>
        <property name="authorBaseRepository" ref="authorRepository"/>
        <property name="commentBaseRepository" ref="commentRepository"/>
    </bean>

    <bean id="newsService"
          class="com.epam.lab.news.manager.service.impl.CustomNewsService">
        <property name="repository" ref="newsRepository"/>
    </bean>

    <bean id="tagService"
          class="com.epam.lab.news.manager.service.impl.CustomTagService">
        <property name="repository" ref="tagRepository"/>
    </bean>

    <bean id="userService"
          class="com.epam.lab.news.manager.service.impl.CustomUserService">
        <property name="userRepository" ref="userRepository"/>
    </bean>

    <bean id="userDetailService" class="com.epam.lab.news.manager.service.impl.CustomUserDetailService">
        <property name="userRepository" ref="userRepository"/>
    </bean>

</beans>